homepage/config/
homepage/homarr/

mysql/mariadb-data
postgres/db

nextcloud/config
nextcloud/custom_apps
nextcloud/data
nextcloud/html
nextcloud/nextclouddb
nextcloud/redis
nextcloud/db


proxy-manager/data
proxy-manager/letsencrypt
proxy-manager/mysql

n8n/n8n_data

klipper/gcodes
klipper/logs
klipper/run

supabase/.env

.env