TZ=Etc/UTC

# Nextcloud database settings
MYSQL_ROOT_PASSWORD=change-this-root-password
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud
MYSQL_PASSWORD=change-this-db-password

# Add your server IP and/or domain, comma separated
NEXTCLOUD_TRUSTED_DOMAINS=192.168.1.50

# HDD mount point for Nextcloud persistent data
NEXTCLOUD_DATA_PATH=/mnt/hdd1tb/nextcloud

# Expose full HDD to Nextcloud External Storage app
NEXTCLOUD_HDD_EXTERNAL_PATH=/mnt/hdd1tb